name: Build and Push Multi-Arch Images

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      force:
        required: false
        type: boolean
        default: false

jobs:
  build-ws:
    strategy:
      matrix:
        ros2_distro: [ iron ]

    name: Build and publish ros2-ws:${{ matrix.ros2_distro }}
    uses: ./.github/workflows/reusable-build-push.yml
    with:
      ros_distro: ${{ matrix.ros2_distro }}
      force: ${{ inputs.force }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}